.clock {
    width: 600px;
    height: 600px;
    border-radius: 999px;
    border: solid 4px black;
    position: relative;
    background-color: #ccc;
    transform: rotate(-90deg);
}

body {
    background: #444;
    display: flex;
    justify-content: center;
}

.inner {
    position: absolute;
    top: calc(50% - 10px);
    left: calc(50% - 10px);
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: black;
    transform: rotate(-90deg);

}

.branded {
    position: absolute;
    transform: rotate(90deg);
    top: 50%;
    left: 26%;
    font-family: cursive;
    font-style: italic;
    text-decoration: rgb(61, 61, 1);
    color: rgb(45, 70, 5);
}

.hand {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 275px;
    height: 4px;
    background: black;
    transform-origin: left;
	
}

.hand.hour {
    background-color: #333;
    height: 8px;
    width: 200px;
    border-radius: 6px;
    top: calc(50% - 4px);
}

.hand.minute {
    background-color: red;
    border-radius: 4px;
    top: calc(50% - 2px);
}

.hand.second {
    background-color: blueviolet;
    height: 2px;
	top: calc(50% - 1px);
}

.num {
    position: absolute;
    right: 28px;
    top: calc(50% - 18px);
    width: 270px;
    transform-origin: left;
    text-align: right;
    font-size: 2rem;
}

.num span {
    display: inline-block;
}

.num.one { transform: rotate(30deg) }
.num.one span { transform: rotate(60deg) }

.num.two { transform: rotate(60deg) }
.num.two span { transform: rotate(30deg) }

.num.three { transform: rotate(90deg) }

.num.four { transform: rotate(120deg) }
.num.four span { transform: rotate(-30deg) }

.num.five { transform: rotate(150deg) }
.num.five span { transform: rotate(-60deg) }

.num.six { transform: rotate(180deg) }
.num.six span { transform: rotate(-90deg) }

.num.seven { transform: rotate(210deg) }
.num.seven span { transform: rotate(-120deg) }

.num.eight { transform: rotate(240deg) }
.num.eight span { transform: rotate(-150deg) }

.num.nine { transform: rotate(270deg) }
.num.nine span { transform: rotate(180deg) }

.num.ten { transform: rotate(300deg) }
.num.ten span { transform: rotate(150deg) }

.num.eleven { transform: rotate(330deg) }
.num.eleven span { transform: rotate(120deg) }

.num.twelve { transform: rotate(360deg) }
.num.twelve span { transform: rotate(90deg) }